extends ../layout/base

include ../mixins/snippets

block content
    include ../partials/header
    
    #contact-content.pa3.pa5-ns
    
        +subheading(view.headline)
        
        #contact_phone-email.from-markdown.mv4.tracked.white!=view.phoneEmail
        
        #contact_office-hours.from-markdown.mv4.tracked!=view.officeHours
        
        #map_container.h5.w-100.bg-blue
          
        #contact_address.from-markdown.mv4.tracked!=view.address
        
        #contact_legal-details.from-markdown.mv4.tracked.f7.lh-copy!=view.legalDetails
        
        #link-to-home.white.mv4
            | <  
            a.ml2.white.tracked.underline=view.linkToHome
