extends ../layout/base
include ../mixins/snippets


mixin headline(text)
    - const [ part1, part2, ] = text.split(' ')
    h1.white.ttu.b.tracked.lh-solid
      span.home-headline-1=part1 + ' '
      span.home-headline-2=part2
      
mixin linkImage(image)
    - const src = './images/' + image + '.png'
    img.h3(src=src)
      
mixin subheading(text)
    h2.b.f5.lh-title.tracked.near-black=text

block content
    include ../partials/header
    
    - const linkColors = ['washed-green', 'blue', 'light-green', 'pink', ]

    #home_content.pa3
        +headline(view.headline)
        +subheading(view.tagline)
        
        #page-links
            for link, index in view.pageLinks
              a.no-underline.black.ttu.b.inline-flex.ma2.tc.tracked.pointer(href=link.link)
                  .page_link_box.pa3.h4.w4.flex.items-center.flex-column.justify-around.br3.shadow-6.pointer(class=`bg-${linkColors[index]}`)
                      +linkImage(link.image)
                      span=link.text
                      
        +subheading(view.aboutHeader)
        #about.from-markdown.mv3.f6.lh-copy.fw3
            != `${view.aboutDescription}`
            
        #badges.h4.w-100.tc
            img.w-40.mr3.inline-flex(src=view.badges[0].image alt=view.badges[0].alt)
            img.w-40.ml3.inline-flex(src=view.badges[1].image alt=view.badges[1].alt)
        
        +ctaButton('./contact', view.buttonText)
