extends ../layout/base
include ../mixins/snippets

mixin headline(text)
    - const [ part1, part2, ] = text.split(' ')
    h1.mv2.white.ttu.b.fw8-ns.tracked.lh-solid.f1-ns
      span.home-headline-1=part1 + ' '
      span.home-headline-2=part2
      
mixin linkImage(image)
    - const src = './images/' + image + '.png'
    img.h3.h4-ns(src=src)
      
mixin pageLinkTile (link, index)
    //--link object consists of URL, image and text 
    a.no-underline.black.ttu.b.mv3-ns.tc.tracked.pointer(href=link.link)
        .page_link_box.pa3.h-40vw.h5-ns.w-40vw.w5-ns.flex.items-center.flex-column.justify-around.br3.shadow-6.pointer(class=`bg-${linkColors[index]}`)
            +linkImage(link.image)
            span.f3-ns=link.text

mixin badge(image, alt)
    img.h-100(src=image alt=alt)

block content
    include ../partials/header
    
    - const linkColors = ['washed-green', 'blue', 'light-green', 'pink', ]

    #home-content.pa3.pa5-ns
        +headline(view.headline)
        +subheading(view.tagline)
        
        #page-links.flex.content-between.justify-between.flex-wrap.w-90vw.w-auto-ns.h-90vw.h-auto-ns
            for link, index in view.pageLinks
              +pageLinkTile(link, index)
                      
        +subheading(view.aboutHeader)
        #about.from-markdown.mv3.ma0-ns.f6.f4-ns.lh-copy.fw3.fw4-ns
            != `${view.aboutDescription}`
            
        section#lower_section.flex.flex-wrap.justify-between.items-center
            
            #badges.h4.w-100.w-30-ns.mv5-ns.tc.flex.justify-between
                +badge(view.badges[0].image, view.badges[0].alt)
                +badge(view.badges[1].image, view.badges[1].alt)
        
            +ctaButton('./contact', view.buttonText)
